h1 {
  font-family: 'vivaldi-regular', 'Segoe Script', 'sans-serif';

  @font-face {
    font-family: 'vivaldi-regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~assets/fonts/vivaldi.ttf') format('truetype');
  }
}
